// baseColor
//
//
$white: #ffffff;
$black: #000000;

// introduceColor
//
//
$introduce-Red: #880e4f;
$introduce-Red-bright: #d13239;
$introduce-Magenta: #bf54a3;
$introduce-Purple: #5f328c;
$introduce-Yellow: #f2e205;
$introduce-Orange: #d99923;
