// baseColor
//
//
$white: #ffffff;
$black: #000000;

// introduceColor
//
//
$introduce-Red: #880e4f;
$introduce-Magenta: #BF54A3;
$introduce-Purple: #5F328C;
$introduce-Yellow: #F2E205;
$introduce-Orange: #D99923;