// family
$font-family: 'リュウミン R-KL', Ryumin Regular KL, serif;

// weight
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-lighter: 200;

//size
$font-size-xx-large: 1.6em;
$font-size-x-large: 1.4em;
$font-size-large: 1.2em;
$font-size-medium: 1em;
$font-size-small: 0.9em;
$font-size-x-small: 0.8em;
$font-size-xx-small: 0.7em;
$font-size-xxx-small: 0.6em;
