<footer class="g-navigation__Footer common-bg-panel">
  <div class="navigation__FooterLists">
    <div class="navigation__FooterItem">
      <ul class="navigation__Anchor-ul">
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">大阪</a>
        </li>
        <span class="break-Line"></span>
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">名古屋</a>
        </li>
        <span class="break-Line"></span>
        <li class="navigation__PhotoItem">
          <img src=" img/company.png" class="placeTarget" />
        </li>
        <span class="break-Line"></span>
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">広島</a>
        </li>
        <span class="break-Line"></span>
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">東京</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
