<footer class="g-navigation__Footer">
  <div class="navigation__footerLists">
    <img src="img/company.png" class="placeTarget" />
    <div class="navigation__footerItem"></div>
    <div class="navigation__footerItem"></div>
    <div class="navigation__footerItem"></div>
  </div>
</footer>
