<header class="g-navigation__Header">
  <div class="navigation__headerLists">
    <div class="navigation__headerItem">
      <img src="img/company.png" class="placeTarget" />
    </div>
    <div class="navigation__headerItem">
      <img src="img/Explanation.png" class="navigation__headerIcon" />
    </div>
    <div class="navigation__headerItem">
      <img src="img/Festival.png" class="navigation__headerIcon" />
    </div>
    <div class="navigation__headerItem">
      <img src="img/Twitter.png" class="navigation__headerIcon" />
    </div>
  </div>
</header>
