<header class="g-navigation__Header common-bg-panel">
  <div class="navigation__HeaderLists">
    <div class="navigation__HeaderAnchors">
      <ul class="navigation__Anchor-ul">
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">四季</a>
        </li>
        <span class="break-Line"></span>
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">行事</a>
        </li>
        <span class="break-Line"></span>
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">歴史</a>
        </li>
        <span class="break-Line"></span>
        <li class="navigation__PhotoItem">
          <img src="img/company.png" class="placeTarget" />
        </li>
        <span class="break-Line"></span>
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">旅館</a>
        </li>
        <span class="break-Line"></span>
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">交通</a>
        </li>
        <span class="break-Line"></span>
        <li class="navigation__Anchor-li">
          <a class="navigation__Anchor-Tag">祈り</a>
        </li>
        <span class="break-Line"></span>
      </ul>
    </div>
  </div>
</header>
