<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="g-container__Wrap">
      <%- include('components/_header.ejs'); %>
      <section class="g-Main__homeContents">
        <article class="homeContent__allHistory primary-Height">
          <div class="homeContent__picture"></div>
          <div class="homeContent_timeline">
            <div class="timeline_Item">
              <div class="time_Date">
                <p class="time">？？？年</p>
                <p class="flag">地主神社</p>
              </div>
              <div class="desc">
                <p>創建は日本建国以前の神代とされている。</p>
                <p>縁結びの御利益で有名。</p>
                <p>
                  片方のご神石から反対側の石に目を閉じて歩き、
                </p>
                <p>
                  無事たどりつくことができると恋の願いがかなうと伝わる“願掛け”の石がある。
                </p>
              </div>
            </div>
            <div class="timeline_Item">
              <div class="time_Date">
                <p class="time">711年</p>
                <p class="flag">伏見稲荷大社</p>
              </div>
              <div class="desc">
                <p>伏見大神様が鎮座したのちに創設</p>
                <p>
                  千本鳥居は千基の鳥居があるわけではなく、稲荷山登頂時の最初にある鳥居のことを指す。
                </p>
                <p>厳密には稲荷山を含む全体で約1万基の鳥居があるとされる。</p>
              </div>
            </div>
            <div class="timeline_Item">
              <div class="time_Date">
                <p class="time">779年</p>
                <p class="flag">清水寺</p>
              </div>
              <div class="desc">
                <p>清水の舞台で知られる観光名所</p>
                <p>
                  一人の僧がお告げを聴き訪れた修行者をモチーフにして作ったところから始まる。
                </p>
              </div>
            </div>
            <div class="timeline_Item">
              <div class="time_Date">
                <p class="time">1052年</p>
                <p class="flag">平等院鳳凰堂</p>
              </div>
              <div class="desc">
                <p>宇治市にある</p>
                <p>
                  千本鳥居は千基の鳥居があるわけではなく、稲荷山登頂時の最初にある鳥居のことを指す。
                </p>
                <p>厳密には稲荷山を含む全体で約1万基の鳥居があるとされる。</p>
              </div>
            </div>
            <div class="timeline_Item">
              <div class="time_Date">
                <p class="time">1450年</p>
                <p class="flag">龍安寺</p>
              </div>
              <div class="desc">
                <p>
                  寺院内には不揃いな十五個の石が配置されている方丈庭園がある。
                </p>
                <p>
                  どの位置から見ても全ての石を視界に入れることはできず、万物の不完全さを表している。
                </p>
              </div>
            </div>
            <div class="timeline_Item">
              <div class="time_Date">
                <p class="time">1862年</p>
                <p class="flag">寺田屋</p>
              </div>
              <div class="desc">
                <p>かの坂元龍馬ゆかりの地。</p>
                <p>
                  再建こそされているが当時の面影はそのままだという。
                </p>
              </div>
            </div>
          </div>
        </article>
        <article class="homeContent__aboutArea primary-Height">
          <div class="homeContent__pickupArea">
            <img src="img/pickup-1.png" class="areaIntroduction" />
            <div class="mask">
              <div class="hover__mask">
                <p>地主神社</p>
              </div>
            </div>
          </div>
          <div class="homeContent__pickupArea">
            <img src="img/pickup-2.png" class="areaIntroduction" />
            <div class="mask">
              <div class="hover__mask">
                <p>伏見稲荷神社</p>
              </div>
            </div>
          </div>
          <div class="homeContent__pickupArea">
            <img src="img/pickup-3.png" class="areaIntroduction" />
            <div class="mask">
              <div class="hover__mask">
                <p>清水寺</p>
              </div>
            </div>
          </div>
          <div class="homeContent__pickupArea">
            <img src="img/pickup-4.png" class="areaIntroduction" />
            <div class="mask">
              <div class="hover__mask">
                <p>平等院鳳凰堂</p>
              </div>
            </div>
          </div>
          <div class="homeContent__pickupArea">
            <img src="img/pickup-5.png" class="areaIntroduction" />
            <div class="mask">
              <div class="hover__mask">
                <p>龍安寺</p>
              </div>
            </div>
          </div>
          <div class="homeContent__pickupArea">
            <img src="img/pickup-6.png" class="areaIntroduction" />
            <div class="mask">
              <div class="hover__mask">
                <p>寺田屋</p>
              </div>
            </div>
          </div>
        </article>
        <article class="homeContent__three primary-Height"></article>
        <article class="homeContent__for primary-Height"></article>
        <article class="homeContent__five primary-Height"></article>
      </section>
      <%- include('components/_footer.ejs'); %>
    </div>
  </body>
</html>