// 外部scss
//
//
//
// valiables
@import "./valiables/color";
@import "./valiables/font";
@import "./valiables/layout";
@import "./valiables/z-index";
//
//
//
// modules
@import "./modules/header";
@import "./modules/footer";
@import "./modules/main";
//
//
//
// abstracts
@import "./abstracts/mixin";

//
//
//
// app.scss記載
div {
  color: red;
}